aiosmtplib
annotated-types
anyio
asttokens
certifi
charset-normalizer
click
colorama
comm
contourpy
cycler
debugpy
decorator
deep-sort-realtime
executing
fastapi
filelock
fonttools
fsspec
gitdb
GitPython
h11
idna
ipykernel
ipython
ipython_pygments_lexers
jedi
Jinja2
jupyter_client
jupyter_core
kiwisolver
MarkupSafe
matplotlib
matplotlib-inline
MouseInfo
mpmath
nest-asyncio
networkx
numpy
opencv-python
packaging
pandas
parso
pillow
platformdirs
prompt_toolkit
psutil
pure_eval
py-cpuinfo
PyAutoGUI
pydantic
pydantic_core
PyGetWindow
Pygments
PyMsgBox
pyparsing
pyperclip
PyRect
PyScreeze
python-dateutil
python-dotenv
python-multipart
pytweening
pytz
PyYAML
pyzmq
requests
scipy
seaborn
setuptools
simpy
six
smmap
sniffio
stack-data
starlette
sympy
thop
torch
opencv-python
numpy
deepsort-realtime